@import "__variables";

h3 {
    margin: 0.5rem;
    padding: 1rem;
    text-align: center;
    color: rgb(156, 10, 235);
    font-family: $tipogrageneral;
    text-decoration: underline;
    font-style: oblique;
    font-size: 25px;
}

body {
    .foto_inicio {
        text-align: center;
    }

    .img_inicio {
        width: 600px;
        padding: 1rem;
        margin: 1rem;
    }

    .carousel {
        margin: 1rem;
        padding: 1rem;
    }
}

@media (max-width: 1024px) {

    .titulo {
        display: none;
    }
    .cabecera {
        display:none;
    }
    .header_menu{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

}